.git/
bazel-out/
node_modules/
packages/
proto/
tools/
.bazelignore
.bazelrc
.dockerignore
.eslintignore
.eslintrc.js
.gitignore
.nvmrc
.prettierrc.js
BUILD.bazel
Makefile
WORKSPACE
deps.svg
docker-compose.yml
package.json
tsconfig.json
yarn.lock
